# Archetype requirements
boto
BeautifulSoup<4.0
django<1.4
django-analytical
django-annoying
django-appconf
django_compressor
django-extensions
django-selector
django-staticfiles
django-storages
fabric
gunicorn
lxml
mysql-python
psycopg2  # For Heroku
salad
south
versiontools

# AWS Email?
# django-ses 

# Memcached (using pylibmc)
# django-pylibmc-sasl==0.2.4
# pylibmc==1.2.2

# Project requirements

