# Archetype requirements
boto
BeautifulSoup<4.0
django
django-analytical
django-annoying
django-appconf
django_compressor
django-extensions
hg+https://bitbucket.org/outofculture/django-selector#egg=django-selector # until tip is pushed to pypi
django-staticfiles
django-storages
fabric
gunicorn
lxml
mysql-python
salad
south
versiontools

# AWS Email
# django-ses

# Heroku
# autoscalebot
# dj_database_url
# psycopg2
# django-pylibmc-sasl==0.2.4
# pylibmc==1.2.2


# Project requirements

